
/build/
/node_modules/
/*.module/

*.user
*.suo
*.sdf
/npm-debug.log
/tsbinding/*.js
/tsbinding/*/*.js
/test/*/*.cpp
/test/*/*/*.cpp
/test/*/*/*/*.cpp
/test/*/*.cu
/test/*/*/*.cu
/test/*/*/*/*.cu

/test/*/*.js
/test/*/*/*.js

/test/*/*.map
/test/*/*/*.map
/test/*/*/*/*.map

/tsbinding/*.map
/tsbinding/*/*.map
/tsbinding/*/*/*.map
/tsbinding/*/*/*/*.map

/typings/