npm-debug.log.*

/build/
/node_modules/
/*.module/

*.user
*.suo
*.sdf
/npm-debug.log

/test/**/*.cpp
/test/**/*.cu
/test/**/*.js
/test/**/*.map

/tsbinding/**/*.js
/tsbinding/**/*.map

/typings/
/node-overload-resolution/
/node-addon-tracer/
/.vscode/